.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 16px;
  width: 300px;
  justify-content: center;
  align-items: center;
  margin: 16px 0;
}

p {
  margin: 0;
}
