@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

*{
	margin: 0;
}

header, header ul{
	background-color: black;
	width: 100%;
	height: 8vh;
	display: flex;
	flex-direction:row;
	justify-content: space-evenly;
}

footer, footer ul{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	background-color: #D4747F;
}

main{
	padding: 1%;
	background-color: #C23949;
	display: flex;
	flex-direction: column;
	align-items: center;
}

section{
	width: 80%;
	height: auto;
}

ul{
	list-style-type: none;
}

