.smallcard-container {
    display: flex;
    align-items: center;
    border: 1px solid black;
    padding: 10px 5px;
    margin-bottom: 10px;
    height: 100px;
}

.smallcard-container > img {
    width: 50px;
    margin-right: 10px;
    border-radius: 50%;
}

.smallcard-container > h4 {
    margin-right: 10px;
    display: inline;
}
.smallcard-container > span{

}